service: coworker-api

provider:
  name: aws
  runtime: nodejs6.10
  region: eu-central-1

functions:
  auth:
    handler: auth.handler
    events:
      - http:
          path: auth
          method: post
  
  hello:
    handler: hello.handler
    events:
      - http:
          path: hello
          method: get
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token
  authorizer:
    handler: authorizer.handler
